networks:
  psql:
    driver: bridge
  redis:

services:
  db:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      # - "./healthchecks:/healthchecks"
    # healthcheck:
    # test: /healthchecks/postgres.sh
    # interval: "5s"
    networks:
      - psql

volumes:
  postgres-data:
